# Import Libraries and Inspect Data

In [2]:
# standard library imports
from ast import literal_eval
import itertools
# import time
# import re

# third-party imports
import numpy as np
import pandas as pd

# customisations
pd.options.display.max_columns = 100

In [3]:
raw_steamspy_data = pd.read_csv('../Data/steam_spy_data.csv')
raw_steamspy_data.head()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu,languages,genre,tags
0,216938,Pieterw test app76 ( 216938 ),NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,0.0,0.0,0,NaN,NaN,[]
1,660010,test2,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,0,NaN,NaN,[]
2,660130,test3,NaN,NaN,NaN,0,0,0,"0 .. 20,000",0,0,0,0,NaN,NaN,NaN,0,NaN,NaN,[]
3,1433210,Notebook Artillery,Austin Ivansmith Games,Austin Ivansmith Games,NaN,10,0,0,"0 .. 20,000",0,0,0,0,499.0,499.0,0.0,0,English,Indie,"{'Hand-drawn': 202, '2D': 196, 'Arcade': 191, ..."
4,1433240,Whiskey Island,Raymond Lewis,Raymond Lewis,NaN,1,1,0,"0 .. 20,000",0,0,0,0,1699.0,1699.0,0.0,0,English,"Casual, Indie, Early Access","{'Casual': 69, 'Open World': 43, 'Management':..."